- issuable = local_assigns.fetch(:issuable)
- form = local_assigns.fetch(:form)

- return unless issuable.is_a?(MergeRequest)
- return if issuable.closed_without_fork?

%hr
- if issuable.new_record?
  .form-group
    = form.label :source_branch, class: 'control-label'
    .col-sm-10
      .issuable-form-select-holder
        = form.select(:source_branch, [issuable.source_branch], {}, { class: 'source_branch select2', disabled: true })
.form-group
  = form.label :target_branch, class: 'control-label'
  .col-sm-10.target-branch-select-dropdown-container
    .issuable-form-select-holder
      = form.select(:target_branch, issuable.target_branches,
        { include_blank: true },
        { class: 'target_branch js-target-branch-select',
          disabled: issuable.new_record?,
          data: { placeholder: "Select branch" }})
    - if issuable.new_record?
      &nbsp;
      = link_to 'Change branches', mr_change_branches_path(issuable)
